@model FarmaSupply.DTO.UsuarioDTO
@{
    ViewData["Title"] = "listado";
    var noSePuedeEliminar = ViewData["noSePuedeEliminar"] as string;

    var eliminacionCorrecta = ViewData["eliminacionCorrecta"] as string;
    var EdicionCorrecta = ViewData["EdicionCorrecta"] as string;
    var mensajeRegistroExitoso = ViewData["MensajeRegistroExitoso"] as string;
    var cuentaNoVerificada = ViewData["EmailNoConfirmado"] as string;
    var noTePuedesEliminar = ViewData["noTePuedesEliminar"] as string;
    var usuarioNoEncontrado = ViewData["usuarioNoEncontrado"] as string;
    var error = ViewData["error"] as string;
    
}


    <div class="container py-4 mt-5">
        <div class="card bg-light">
        @if (User.IsInRole("ROLE_ADMIN")){
            <div class="card-header">
            
                <h4>Listado usuarios</h4>
            </div>
        }
        @if (User.IsInRole("ROLE_USER"))
        {
            <div class="card-header">

                <h4>Edicion de tu usuario</h4>
            </div>
        }
            <div class="card-body">
          
              


            @if (ViewBag.Usuarios!=null && User.IsInRole("ROLE_ADMIN"))
            {
                <h4 class="card-title">
                    <a asp-controller="Administracion" asp-action="RegistroUsuarioDesdeAdminGet" role="button" class="btn buttonPrincipal p-2 mb-3"><h5>Registrar usuario</h5></a>
                </h4>
                <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="tableCustom">id</th>
                            <th class="tableCustom">Nombre y apellidos</th>
                            <th class="tableCustom">Email</th>
                            <th class="tableCustom">Teléfono</th>
                            <th class="tableCustom">DNI</th>
                            
                            <th class="tableCustom">Rol</th>
                            <th class="tableCustom" asp:authorize="User.IsInRole('ROLE_ADMIN')"></th>
                            <th class="tableCustom" asp:authorize="User.IsInRole('ROLE_ADMIN')"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in ViewBag.Usuarios)
                        {
                            <tr>
                                <td>@usuario.Id</td>
                                <td>@(usuario.NombreUsuario + (usuario.ApellidosUsuario != null ? " " + usuario.ApellidosUsuario : ""))</td>
                                <td>@usuario.EmailUsuario</td>
                                <td>@usuario.TlfUsuario</td>
                                <td>@usuario.DniUsuario</td>
                                
                                <td>@(usuario.Rol == "ROLE_USER" ? "USER" : "ADMIN")</td>
                                <td asp:authorize="User.IsInRole('ROLE_ADMIN')">
                                    <a class="btn buttonPrincipal" asp-action="MostrarFormularioEdicion" asp-controller="Administracion" asp-route-id="@usuario.Id">
                                        <i class="bi bi-pencil-square"> Editar</i>
                                    </a>
                                </td>
                                <td asp:authorize="User.IsInRole('ROLE_ADMIN')">
                                    <a class="btn btn-danger" data-id="@usuario.Id" onclick="confirmarEliminar(event)">
                                        <i class="bi bi-trash"> Eliminar</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else if (ViewBag.Usuarios != null && User.IsInRole("ROLE_USER"))
            {
                // Mostrar solo el usuario actual para los usuarios con el rol "ROLE_USER"
              
                
                  <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="tableCustom">id</th>
                            <th class="tableCustom">Nombre y apellidos</th>
                            <th class="tableCustom">Email</th>
                            <th class="tableCustom">Teléfono</th>
                            <th class="tableCustom">DNI</th>
                            
                            <th class="tableCustom">Rol</th>
                            <th class="tableCustom" asp:authorize="User.IsInRole('ROLE_USER')"></th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in ViewBag.Usuarios)
                        {
                            <tr>
                                <td>@usuario.Id</td>
                                <td>@(usuario.NombreUsuario + (usuario.ApellidosUsuario != null ? " " + usuario.ApellidosUsuario : ""))</td>
                                <td>@usuario.EmailUsuario</td>
                                <td>@usuario.TlfUsuario</td>
                                <td>@usuario.DniUsuario</td>
                                
                                <td>@(usuario.Rol == "ROLE_USER" ? "USER" : "ADMIN")</td>
                                <td asp:authorize="User.IsInRole('ROLE_ADMIN')">
                                    <a class="btn buttonPrincipal" asp-action="MostrarFormularioEdicion" asp-controller="Administracion" asp-route-id="@usuario.Id">
                                        <i class="bi bi-pencil-square"> Editar</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5 class="card-title text-center text-danger">No hay usuarios registrados</h5>
            }
        </div>
    </div>
</div>

   
    @if (!string.IsNullOrEmpty(mensajeRegistroExitoso))
    {
        <script>
            mostrarNotificacion("¡El usuario fue registrado!", "Para usar la cuenta tiene que confirmar su cuenta de correo electrónico.", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(noSePuedeEliminar))
    {
        <script>
            mostrarNotificacion("¡Error!", "No se puede eliminar al ultimo usuario con permisos de administrador", 'error');
        </script>
    }
  
    @if (!string.IsNullOrEmpty(eliminacionCorrecta))
    {
        <script>
            mostrarNotificacion("¡Usuario eliminado!", "El usuario ha sido eliminado correctamente", 'success');
        </script>
    }
    @if (!string.IsNullOrEmpty(cuentaNoVerificada))
    {
        <script>
            mostrarNotificacion("¡Email registrado pero sin verificar!", "Para que pueda usar la cuenta, antes debe confirmar su cuenta de correo electrónico", 'error');
        </script>
    }
    @if (!string.IsNullOrEmpty(EdicionCorrecta))
    {
        <script>
            mostrarNotificacion("¡Cambios guardados!", "El usuario ha sido modificado", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(noTePuedesEliminar))
    {
        <script>
            mostrarNotificacion("¡No puede eliminarse a sí mismo!", "Debe ser otro administrador quien realice esta acción", 'info');
        </script>
    }
    @if (!string.IsNullOrEmpty(error))
    {
        <script>
            mostrarNotificacion("¡Error!", "Ocurrio un error no esperado, intentelo de nuevo", 'error');
        </script>
    }

